.form-bg-container {
  background-color: #152850;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.card-container {
  background-color: #e0eefe;
  border-width: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.login-image {
  height: 60vh;
  width: 35vw;
}
.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 20px;
}
.heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #152850;
  font-weight: bold;
}
.label-text {
  font-family: 'Roboto';
  font-size: 15px;
  color: #152850;
  font-weight: 300;
  text-align: left;
}
.input {
  margin-top: 5px;
  height: 55px;
  border-radius: 7px;
  border-color: #183b56;
  border-width: 2px;
  font-family: 'Roboto';
  font-size: 30px;
  margin-bottom: 30px;
}
.button {
  height: 55px;
  border-radius: 7px;
  border-width: 0px;
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  background-color: #1565d8;
}
.error-msg {
  font-family: 'Roboto';
  font-size: 25px;
  color: #ff0b37;
  font-weight: 300;
}
